@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 4rem;
}

.main-nav a:hover {
  color: lightcoral;
}

.main-header {
  display: flex;
  align-items: center;
  height: 100px;
  flex-direction: row-reverse;
}

.wrapper p{

  text-align: center;
  font-size: 60px;
}

p:hover{
  color: lightcoral;
}

.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single-img{
  margin-left: 40px;
  border:6px solid white;
}


img:hover{
  opacity: .5;
  transition: .9s;
}


